In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
# import pandas and load and preview the dataset
import pandas as pd
df = pd.read_csv("Resources/movies_cleaned.csv")
df.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0

In [3]:
# create column for the percentage the gross is of the budget
df["percentage"] = ((df["gross"]/df["budget"]) * 100)
df.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime,percentage
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0,247.361958
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0,1307.846800
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0,2990.972594
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0,2384.386829
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0,664.105733

In [4]:
# create categories/bins for the percentage and add to dataframe
import numpy as np

bins = [0, 200]
labels = np.array([0, 1])
df["profit_category"] = labels[np.searchsorted(bins, df["percentage"])-1]


df.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime,percentage,profit_category
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0,247.361958,1
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0,1307.846800,1
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0,2990.972594,1
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0,2384.386829,1
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0,664.105733,1

In [13]:
# create a copy of the dataframe and drop columns that will not be used as features or the target
df_copy = df.copy()

df_copy = df_copy.drop(columns=['name', 'released', 'gross', 'company', 'percentage',
                                'score', 'votes'])
df_copy.head()

,rating,genre,year,director,writer,star,country,budget,runtime,profit_category
0,R,Drama,1980,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,146.0,1
1,R,Adventure,1980,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,104.0,1
2,PG,Action,1980,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,124.0,1
3,PG,Comedy,1980,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,88.0,1
4,R,Comedy,1980,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,98.0,1

In [14]:
# drop all but horror movies
horror_df = df_copy[df_copy['genre'].isin(['Comedy'])]

horror_df

,rating,genre,year,director,writer,star,country,budget,runtime,profit_category
3,PG,Comedy,1980,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,88.0,1
4,R,Comedy,1980,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,98.0,1
16,PG,Comedy,1980,Colin Higgins,Patricia Resnick,Jane Fonda,United States,10000000.0,109.0,1
25,R,Comedy,1980,Howard Zieff,Nancy Meyers,Goldie Hawn,United States,10000000.0,109.0,1
26,R,Comedy,1980,Floyd Mutrux,Floyd Mutrux,Tony Danza,United States,4000000.0,91.0,1
...,...,...,...,...,...,...,...,...,...,...
5383,PG-13,Comedy,2019,Richard Linklater,Richard Linklater,Cate Blanchett,United States,20000000.0,109.0,0
5386,PG-13,Comedy,2019,Todd Strauss-Schulson,Erin Cardillo,Rebel Wilson,United States,31000000.0,89.0,0
5399,PG-13,Comedy,2019,Zara Hayes,Zara Hayes,Diane Keaton,United Kingdom,10000000.0,90.0,0
5400,PG-13,Comedy,2019,Tina Gordon,Tracy Oliver,Regina Hall,United States,20000000.0,109.0,1
5403,PG-13,Comedy,2019,Tyler Perry,Tyler Perry,Tyler Perry,United States,20000000.0,109.0,1

In [15]:
horror_df = horror_df[horror_df['country'].isin(['United States'])]

horror_df

,rating,genre,year,director,writer,star,country,budget,runtime,profit_category
3,PG,Comedy,1980,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,88.0,1
4,R,Comedy,1980,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,98.0,1
16,PG,Comedy,1980,Colin Higgins,Patricia Resnick,Jane Fonda,United States,10000000.0,109.0,1
25,R,Comedy,1980,Howard Zieff,Nancy Meyers,Goldie Hawn,United States,10000000.0,109.0,1
26,R,Comedy,1980,Floyd Mutrux,Floyd Mutrux,Tony Danza,United States,4000000.0,91.0,1
...,...,...,...,...,...,...,...,...,...,...
5381,PG,Comedy,2019,Simon Curtis,Mark Bomback,Kevin Costner,United States,18000000.0,109.0,0
5383,PG-13,Comedy,2019,Richard Linklater,Richard Linklater,Cate Blanchett,United States,20000000.0,109.0,0
5386,PG-13,Comedy,2019,Todd Strauss-Schulson,Erin Cardillo,Rebel Wilson,United States,31000000.0,89.0,0
5400,PG-13,Comedy,2019,Tina Gordon,Tracy Oliver,Regina Hall,United States,20000000.0,109.0,1
5403,PG-13,Comedy,2019,Tyler Perry,Tyler Perry,Tyler Perry,United States,20000000.0,109.0,1

In [7]:
# check ratings counts
#rating_counts = horror_df['rating'].value_counts()
#rating_counts

In [8]:
# put all those under 50 into an "other" category
# use a variable to create a list of replacements needed
#other_rate = rating_counts[rating_counts < 75].index.tolist()

# use for loop to replace those in the dataframe
#for rate in other_rate:
    #horror_df['rating'] = horror_df['rating'].replace(rate,'other_rate')

# check the new counts
#horror_df['rating'].value_counts()

In [9]:
# check df
horror_df

Empty DataFrame
Columns: [rating, genre, year, director, writer, star, country, budget, runtime, profit_category]
Index: []

In [16]:
# drop years before 2010 and after 2019

#us_df = us_df.drop(us_df[us_df['year'] < 2010].index)
#us_df = us_df.drop(us_df[us_df['year'] > 2019].index)

#us_df

In [17]:
# drop country & YEAR as we don't need it for the model
horror_df = horror_df.drop(columns=['country', 'genre'])

horror_df.head()

,rating,year,director,writer,star,budget,runtime,profit_category
3,PG,1980,Jim Abrahams,Jim Abrahams,Robert Hays,3500000.0,88.0,1
4,R,1980,Harold Ramis,Brian Doyle-Murray,Chevy Chase,6000000.0,98.0,1
16,PG,1980,Colin Higgins,Patricia Resnick,Jane Fonda,10000000.0,109.0,1
25,R,1980,Howard Zieff,Nancy Meyers,Goldie Hawn,10000000.0,109.0,1
26,R,1980,Floyd Mutrux,Floyd Mutrux,Tony Danza,4000000.0,91.0,1

In [18]:
# get dummies for non-numerical columns
dummies_df = pd.get_dummies(data=horror_df)

dummies_df.head()

,year,budget,runtime,profit_category,rating_G,rating_NC-17,rating_Not Rated,rating_PG,rating_PG-13,rating_R,...,star_Winona Ryder,star_Woody Allen,star_Woody Harrelson,star_Zac Efron,star_Zach Braff,star_Zach Cregger,star_Zach Galifianakis,star_Zach Galligan,star_Zoey Deutch,star_Zooey Deschanel
3,1980,3500000.0,88.0,1,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
4,1980,6000000.0,98.0,1,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
16,1980,10000000.0,109.0,1,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
25,1980,10000000.0,109.0,1,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
26,1980,4000000.0,91.0,1,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
# dependencies for scaling and random forest

from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [ ]:
# define features and target
X = dummies_df.drop(columns="profit_category")
y = dummies_df["profit_category"]

#split into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1)

In [ ]:
# scale the data
scaler = StandardScaler()
X_scaler = scaler.fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
#set it up
rf_model = RandomForestClassifier(n_estimators=200, random_state=78)

#fit it
rf_model = rf_model.fit(X_train_scaled, y_train)

#predict
predictions = rf_model.predict(X_test_scaled)

In [ ]:
# calculate accuracy score
accuracy_score(y_test, predictions)

In [ ]:
# list the features in order of importance
#importances = rf_model.feature_importances_

# We can sort the features by their importance
#sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)