In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
# import pandas and load and preview the dataset
import pandas as pd
df = pd.read_csv("Resources/movies_cleaned.csv")
df.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0

In [3]:
# create column for the percentage the gross is of the budget
df["percentage"] = ((df["gross"]/df["budget"]) * 100)
df.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime,percentage
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0,247.361958
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0,1307.846800
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0,2990.972594
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0,2384.386829
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0,664.105733

In [4]:
# create categories/bins for the percentage and add to dataframe
import numpy as np

bins = [0, 200]
labels = np.array([0, 1])
df["profit_category"] = labels[np.searchsorted(bins, df["percentage"])-1]


df.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime,percentage,profit_category
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0,247.361958,1
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0,1307.846800,1
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0,2990.972594,1
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0,2384.386829,1
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0,664.105733,1

In [5]:
# create a copy of the dataframe and drop columns that will not be used as features or the target
df_copy = df.copy()

df_copy = df_copy.drop(columns=['name', 'released', 'writer', 'gross', 'company', 'percentage',
                                'score', 'votes'])
df_copy.head()

,rating,genre,year,director,star,country,budget,runtime,profit_category
0,R,Drama,1980,Stanley Kubrick,Jack Nicholson,United Kingdom,19000000.0,146.0,1
1,R,Adventure,1980,Randal Kleiser,Brooke Shields,United States,4500000.0,104.0,1
2,PG,Action,1980,Irvin Kershner,Mark Hamill,United States,18000000.0,124.0,1
3,PG,Comedy,1980,Jim Abrahams,Robert Hays,United States,3500000.0,88.0,1
4,R,Comedy,1980,Harold Ramis,Chevy Chase,United States,6000000.0,98.0,1

In [6]:
# drop all but US companies
us_df = df_copy[df_copy['country'].isin(['United States'])]

us_df

,rating,genre,year,director,star,country,budget,runtime,profit_category
1,R,Adventure,1980,Randal Kleiser,Brooke Shields,United States,4500000.0,104.0,1
2,PG,Action,1980,Irvin Kershner,Mark Hamill,United States,18000000.0,124.0,1
3,PG,Comedy,1980,Jim Abrahams,Robert Hays,United States,3500000.0,88.0,1
4,R,Comedy,1980,Harold Ramis,Chevy Chase,United States,6000000.0,98.0,1
5,R,Horror,1980,Sean S. Cunningham,Betsy Palmer,United States,550000.0,95.0,1
...,...,...,...,...,...,...,...,...,...
5409,PG-13,Action,2020,Christopher Nolan,John David Washington,United States,205000000.0,150.0,0
5410,R,Action,2020,Cathy Yan,Margot Robbie,United States,84500000.0,109.0,1
5412,R,Action,2020,Adil El Arbi,Will Smith,United States,90000000.0,124.0,1
5413,PG,Action,2020,Jeff Fowler,Ben Schwartz,United States,85000000.0,99.0,1
5414,PG,Adventure,2020,Stephen Gaghan,Robert Downey Jr.,United States,175000000.0,101.0,0

In [7]:
# count the genres by category
genre_counts = us_df['genre'].value_counts()
genre_counts

genre
Comedy       1313
Action       1149
Drama         628
Crime         311
Adventure     229
Animation     214
Biography     205
Horror        202
Fantasy        33
Mystery        13
Thriller        6
Sci-Fi          5
Family          4
Romance         3
Western         1
Name: count, dtype: int64

In [8]:
# put all those under 50 into an "other" category
# use a variable to create a list of replacements needed
other_cat = genre_counts[genre_counts < 50].index.tolist()

# use for loop to replace those in the dataframe
for cat in other_cat:
    us_df['genre'] = us_df['genre'].replace(cat,'Other')

# check the new counts
us_df['genre'].value_counts()

genre
Comedy       1313
Action       1149
Drama         628
Crime         311
Adventure     229
Animation     214
Biography     205
Horror        202
Other          65
Name: count, dtype: int64

In [9]:
# check ratings counts
rating_counts = us_df['rating'].value_counts()
rating_counts

rating
R            2031
PG-13        1447
PG            728
G              80
Unrated        12
Not Rated      11
NC-17           5
Approved        1
TV-MA           1
Name: count, dtype: int64

In [10]:
# put all those under 50 into an "other" category
# use a variable to create a list of replacements needed
other_rate = rating_counts[rating_counts < 75].index.tolist()

# use for loop to replace those in the dataframe
for rate in other_rate:
    us_df['rating'] = us_df['rating'].replace(rate,'other_rate')

# check the new counts
us_df['rating'].value_counts()

rating
R             2031
PG-13         1447
PG             728
G               80
other_rate      30
Name: count, dtype: int64

In [11]:
# check df
us_df.head()

,rating,genre,year,director,star,country,budget,runtime,profit_category
1,R,Adventure,1980,Randal Kleiser,Brooke Shields,United States,4500000.0,104.0,1
2,PG,Action,1980,Irvin Kershner,Mark Hamill,United States,18000000.0,124.0,1
3,PG,Comedy,1980,Jim Abrahams,Robert Hays,United States,3500000.0,88.0,1
4,R,Comedy,1980,Harold Ramis,Chevy Chase,United States,6000000.0,98.0,1
5,R,Horror,1980,Sean S. Cunningham,Betsy Palmer,United States,550000.0,95.0,1

In [12]:
# drop years before 2010 and after 2019

#us_df = us_df.drop(us_df[us_df['year'] < 2010].index)
#us_df = us_df.drop(us_df[us_df['year'] > 2019].index)

#us_df

In [13]:
# drop country & YEAR as we don't need it for the model
us_df = us_df.drop(columns=['country'])

us_df.head()

,rating,genre,year,director,star,budget,runtime,profit_category
1,R,Adventure,1980,Randal Kleiser,Brooke Shields,4500000.0,104.0,1
2,PG,Action,1980,Irvin Kershner,Mark Hamill,18000000.0,124.0,1
3,PG,Comedy,1980,Jim Abrahams,Robert Hays,3500000.0,88.0,1
4,R,Comedy,1980,Harold Ramis,Chevy Chase,6000000.0,98.0,1
5,R,Horror,1980,Sean S. Cunningham,Betsy Palmer,550000.0,95.0,1

In [14]:
# get dummies for non-numerical columns
dummies_df = pd.get_dummies(data=us_df)

dummies_df.head()

,year,budget,runtime,profit_category,rating_G,rating_PG,rating_PG-13,rating_R,rating_other_rate,genre_Action,...,star_Zach Galifianakis,star_Zach Galligan,star_Zachary Gordon,star_Zachary Levi,star_Zachary Quinto,star_Zack Gottsagen,star_Zack Ward,star_Zoe Margaret Colletti,star_Zoey Deutch,star_Zooey Deschanel
1,1980,4500000.0,104.0,1,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2,1980,18000000.0,124.0,1,False,True,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
3,1980,3500000.0,88.0,1,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,1980,6000000.0,98.0,1,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
5,1980,550000.0,95.0,1,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False

In [15]:
# dependencies for logistic regression

from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs', random_state=1)
classifier

LogisticRegression(random_state=1)

In [17]:
# define features and target
from sklearn.model_selection import train_test_split

X = dummies_df.drop(columns="profit_category")
y = dummies_df["profit_category"]

#split into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1)

In [18]:
# train the data
classifier.fit(X_train, y_train)

LogisticRegression(random_state=1)

In [19]:
# score the model
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.49675625579240035
Testing Data Score: 0.4865616311399444

In [20]:
# predict outcomes
predictions = classifier.predict(X_test)
pd.DataFrame({"Prediction": predictions, "Actual": y_test})

      Prediction  Actual
2844           1       0
2797           1       1
4055           1       0
1750           1       0
3486           1       1
...          ...     ...
92             1       0
4266           1       0
1324           1       0
1213           1       0
4123           1       1

[1079 rows x 2 columns]

In [21]:
# calculate accuracy score
from sklearn.metrics import accuracy_score

accuracy_score(y_test, predictions)

0.4865616311399444